@import url('https://unpkg.com/purecss@1.0.0/build/pure-min.css');

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(9, 57, 85);
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(7, 54, 92);
}

.active {
  background-color: rgb(54, 99, 150);
}


.container {
  display: grid;
  grid-template-columns: 50% auto;
}
.col {
  padding: .4em 1.3em;
}
.color-dark {
  background: #2885C4;
}
.color-light {
  background: #57B3F1;
}

input.txt {
  border: 0;
  padding: 1em;
  width: 80%;
  margin-bottom: 2em;
}
input.btn {
  border: 0;
  display:block;
  padding:1em 3em;
  background:#A5F883;
  color:#003A61;
  margin-bottom:1em;
  cursor:pointer;
}


.life-container {
  background: #57B3F1;
  padding:.5em;
  font-weight:bold;
  color:rgb(255, 255, 255);
  cursor:pointer;
}

#itemdescription {
  height:200px;
  font-size:14pt;
}

#itemname,#price,#itemdescription,#imageURL{
  color:rgb(0, 0, 0);
}
