<app-navbar></app-navbar>


<div class="container color-dark">
  <h2> Sell an Item </h2>

  <br>
</div>


<div class="container color-light">
  <div class="col">

  </div>

  <!-- stuff -->

  <nav class="product-filter">

    <div class="sort">
      <div class="collection-sort">
      </div>


      <br>
      <br>

    </div>
  </nav>

  <form>

    <div class="form-group">
      <label for="itemname">Item Name:</label>
      <br>
      <input type="itemname" class="form-control" id="itemname" name="itemname" [(ngModel)]="newProduct.title" #title="ngModel">
    </div>
    <br>
    <div class="form-group">
      <label for="price">Price:</label>
      <br>
      <input type="price" class="form-control" id="price" name="price" [(ngModel)]="newProduct.price" #price="ngModel">
    </div>
    <br>
    <div class="form-group">
      <label for="itemdescription">Item Description:</label>
      <br>
      <textarea type="itemdescription" class="form-control" id="itemdescription" name="itemdescription" [(ngModel)]="newProduct.description" #description="ngModel"> Insert description here. </textarea>
    </div>

    <div class="form-group">
      <label for="imageURL">Image URL:</label>
      <br>
      <input type="imageURL" class="form-control" id="imageURL" name="imageURL" [(ngModel)]="newProduct.urlImage" #urlImage="ngModel">
    </div>
    <br>


    <br>
    <button type="submit" class="pure-button pure-button-primary" (click)="postListing()">Submit Listing</button>
    <br>
    <br>

    <button class="pure-button pure-button-primary" (click)="goBack()">Back</button>
    <br><br>
  </form>
</div>

