<div class="container color-dark">
  <h2> About us </h2>
  <br>
</div>


<div class="container color-light">
  <div class="col">

    <!-- stuff -->

    <nav class="product-filter">

      <div class="sort">
        <div class="collection-sort">
          <label>Ebay University Inc. is an American multinational e-commerce corporation based in Tampa, Florida that facilitates consumer-to-consumer and business-to-consumer sales through its website. Ebay was founded by Joshua, Hernan, Mohammed, and Chuma in 2018, and became a notable success story of the dot-com bubble.</label>

        </div>
        <br>
        <br>
      </div>

    </nav>
  </div>
</div>
<button (click)="goBack()">Back</button>
